

<ul class="nav nav-pills">
  <li><%= link_to('New Book', new_book_path) %></li>
  <li><%= link_to('Delete Book', @book, :method => :delete, :confirm => 'Are you sure?') %></li>
  <li><%= link_to('Edit Book', edit_book_path(@book)) %></li>
</ul>

<div class="row">
     <div class="col-md-3">
      <p class="lead"><%= link_to(@book.title, @book) %></p>
      <p class="text-info"><%= @book.cuisine %></p>
      <p class="text-info"><%= @book.chef %></p>
    </div>
    <div class="col-md-8">
      <p class="text-warning"><%= image_tag(@book.image) %></p>
    </div>
</div>

<br>
<!-- SHOW LIST OF RECEPIES HERE -->

